body{
    background-image: linear-gradient(to right top, #e01891, #c1009a, #9b05a1, #6d16a6, #2121a8);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-shadow: whitesmoke;
}

.chargen{
    text-shadow: lightskyblue, 2px, 5px; 
    
}
.nav{
height: 100%;
width: 200px;
position:fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
 overflow-x: hidden;
}

.box{
    background-color: lightslategray;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:6px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
.myButton:active {
	position:relative;
	top:1px;
}